html, body { 
	background-color: #eceff5;  
}
body {
	font-size: 14px;
}
header, main, footer {
    padding-left: 240px;  
    -webkit-transition: left .3s ease;
    -moz-transition: left .3s ease;
    -o-transition: left .3s ease;
    -ms-transition: left .3s ease;
    transition: left .3s ease; 
}

header.expand, main.expand, footer.expand {
    padding-left: 60px;
}
main {
    padding-top: 48px;
}
main.single-report, header.single-report {
    padding-left: 0;
}
pre {
	background-color: #f8f9fa;
	border: 1px solid #ddd;
	border-radius: 4px;
	color: #444;
	font-family: Consolas, monospace;
	font-size: 13px !important;
	padding: 10px;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;    
	white-space: -o-pre-wrap;  
	word-wrap: break-word;     
}
th, td {
    word-break: break-all;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.no-break {
    word-break: keep-all;
}
/* -- [ material overrides ] -- */
/*.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .collapsible, .side-nav {
	box-shadow: none;
}*/
[type='checkbox']:checked + label::before {
	border-color: transparent #eee #eee transparent;
}
[type='checkbox'] + label::before {
	border: 2px solid #ddd;
	margin-top: 4px;
}
.select-wrapper input.select-dropdown, .input-field label {
	font-size: 0.8rem;
}
.material-tooltip, label {
	font-size: 13px !important;
}
.input-field label {
	font-size: 11px !important;
}
.dropdown-content {
	min-width: 150px;
    max-height: 260px;
}
.dropdown-content li {
	min-height: auto;
}
.dropdown-content li > a, .dropdown-content li > span {
	font-size: 0.85rem;
	line-height: 1.2rem;
	padding: 0.5rem 1rem;
}
/*.card-panel {
	margin: .5rem 0;
}*/

/* ---- [ global ] ---- */
.card-head {
	padding-bottom: 20px;
}
.vh100 {
	height: 100vh;
}
.btn {
	font-size: 12px;
}
.btn i {
	font-size: 13px;
}
.input-field label {
	color: #db7093;
	left: 0;
}
.hidden {
	display: none;
}
.text-white {
	color: #fff !important;
}
.weight-light {
    font-size: 12px;
	font-weight: 400;
}
.weight-normal {
	font-weight: 500;
}
.weight-bold {
	font-weight: 700;
}
.no-margin {
	margin: 0 !important;
}
.no-margin-h {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.no-margin-v {
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}
.no-padding {
	padding: 0 !important;
}
.no-padding-h {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.no-padding-v {
	padding-bottom: 0 !important;
	padding-top: 0 !important;
}
.badge {
    border-radius: 100%;
    cursor: default;
    display: inline-block;
    font-size: 12px;
    margin: 2px 4px;
    padding: 0 5px 2px;
    cursor: pointer;
}
.badge.info {
    background: #03a9f4;
}
.badge.error {
    background: #ff5722;
}
.badge > i {
    color: #fff;
}
/* ---- [ icon ] ---- */
.icon .hover-blue {
    color: #81d4fa;
}

.filters .icon {
	border: 1px solid #888888;
	border-radius: 100%;
	color: #888888;
	cursor: default;
	/*font-size: 0.9rem !important;*/
	padding: 1px 5px;
}
.filters .icon.active {
	border-color: #81d4fa;
	color: #81d4fa;
}
.filters .icon:hover {
	border-color: #81d4fa;
	color: #81d4fa;
	cursor: pointer;
}

/* ---- [ sidenav / topnav ] ---- */
nav {
	background: #29ccf7;
	padding-right: 20px;
}
nav.fixed {
    position: fixed;
    top: 0;
    z-index: 1;
    padding-right: 240px;
}
header.expand nav.fixed {
    padding-right: 60px;
}
.nav-right a {
	padding: 0;
}
.side-nav {
    background: #f3f3f3;
    -webkit-transition: left .3s ease;
    -moz-transition: left .3s ease;
    -o-transition: left .3s ease;
    -ms-transition: left .3s ease;
    transition: left .3s ease; 
}
.side-nav.collapse {
    left: -190px !important;
}
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i, nav li, .side-nav a, nav input, nav label, .brand-logo {
	color: #fff !important;
	height: 48px;
	line-height: 48px;
}
.brand-logo {
    padding: 0 15px;
}
ul.side-nav.fixed li.logo:hover {
    background-color: #239fca;
}
.side-nav > li {
	display: block;
}
.side-nav > li.report-item {
	height: auto;
}
.side-nav > li.report-item > a {
	color: #444 !important;    
	font-size: 13px;
	height: auto;
	line-height: 20px;
	padding: 15px;
	word-break: break-all;
}
.side-nav > li.report-item i {
	margin-right: 10px;
}

.side-nav.collapse > li.report-item i {
    position: relative;
    left: 177px;
}
nav a.button-collapse {
	display: inline-block;
}
.nav-item {
	border-left: 1px solid #40e3fc;
	display: inline-block;
	padding: 0 10px;
}
.nav-item:last-child {
	border-right: 1px solid #40e3fc;
}
a.button-collapse.top-nav.full {
    line-height: 122px;
}
a.button-collapse.top-nav, #button-shrink.top-nav, #button-expand.top-nav {
    position: fixed;
    text-align: center;
    height: 48px;
    width: 48px;
    left: 190px;
    top: -4px;
    float: none;
    margin-left: 0;
    color: #fff;
    font-size: 36px;
    z-index: 9999;
}
#button-expand.top-nav {
    left: 0px;
}
.logo {
    background: #239fca none repeat scroll 0 0;
    padding-left: 15px;
}
.file-name, .page-title {
	padding-left: 13px;
}
.console-logs-icon, .run-info-icon {
	font-size: 20px;
}

/* ---- [ main ] ---- */
.main-wrap {
    padding: 0 10px 0 250px;
}
.main-wrap > .row {
	margin-bottom: 0;
}

/* ---- [ containers ] ---- */
.no-tests {
    margin-left: 11px;
}
.suite-details {
    overflow-x: auto;
}
/* ---- [ dashboard ] ---- */
.dashboard .card-panel {
	height: 245px;
    margin-top: 0;
}
#test-analysis, #suite-analysis {
	height: 115px;
	margin: 30px auto 0;
	text-align: center;
	width: 145px;
}
.fh .card-panel {
	height: 275px;
	max-height: 275px;
	min-height: 275px;
}
.chart > div {
	text-align: center;
}
.chart-box {
	display: block;
	margin: 0 auto;
	text-align: center;
}
.doughnut-legend li span {
	border-radius: 2px;
	display: block;
	float: left;
	height: 10px;
	margin-right: 8px;
	margin-top: 4px;
	width: 10px;
}
.doughnut-legend {
	display: inline-block;
	list-style: none;
	margin: 10px 0 0 -35px;
	font-size: 12px;
}
.doughnut-legend li {
	text-align: left;
}
.doughnut-legend li:first-letter {
	text-transform: capitalize;
}
.panel-lead {
	font-size: 24px !important;
	padding: 50px 0 85px;
	text-align: center;
}

/* ---- [ filters ] ---- */
.filters > div {
	display: inline-block;    
}
.btn, .btn-large {
	background-color: #ee6e73;
}
.dropdown-content li > a, .dropdown-content li > span {
	padding: 7px 20px;
}

/* ---- [ fixture / suites ] ---- */
.suite {
	border-bottom: 1px solid #eee;
	font-size: 15px;
	list-style: none;
	padding: 0 20px;
}
tr.suite .icon {
    vertical-align: middle;
}
.suite.active {
	background: #f7f7f7;
	font-weight: 600;
}
.suite:hover {
    cursor: pointer;
}
.suite:hover .icon {
    color: #81d4fa;
}
.suite-desc {
	margin-top: 10px;
}
.suite-status-message {
	background-color: #f7f8fa;
}
.fixture-status-message {
	white-space: pre-wrap; /* show line breaks to make stack-traces more readable */
}
.suite-name {
	width: 90%;
    padding-right: 1rem;
	word-break: break-all;
}
.suite-result {
    width: 5%;
}
.suite-footer { 
	padding: 10px 0; 
}
p.description {
	border: 1px solid #ddd;
	color: #444;
	padding: 10px;
}
.endedAt, .totalTime {
	margin-left: 4px;
}
th[data-field="result"] {
    width: 25%;
}

/* ---- [ labels ] ---- */
.label {
	border: 1px solid transparent;
	border-radius: 2px;
	font-size: 11px !important; 
	font-weight: 500;
    margin: 0 auto;
	padding: 4px 4px;
	text-transform: capitalize;
    min-width: 50px;
}
.label.fail, .label.failed, .label.failure, .label.invalid {
	border-color: #c64444;
	color: #c64444;
}
.label.pass, .label.success, .label.passed {
	border-color: #60b963;
	color: #60b963;
}
.label.error { 
	border-color: #ec407a;
	color: #ec407a;
}
.label.warning, .label.bad, .label.inconclusive, .label.pending, .label.notrunnable, .label.disconnected, .label.passedbutrunaborted { 
	border-color: #d88519;
	color: #d88519;
}                    
.label.skipped, .label.not-run, .label.notrun { 
	border-color: #2196f3;
	color: #2196f3;
}
td > .label {
	border: medium none;
	font-size: 12px !important;
	font-weight: 400;
}
.category-list > div {
    margin-right: 0.5rem;    
}

.category-list > .chip {
    cursor: pointer;
    margin-top: 0.5rem;
}

/* -- [ progress bar ] -- */
.progress {
    background-color: #49ecff;
}
.progress .determinate {
    background-color: #1fc2ed;
}
.progress2 {
	background-color: #f5f5f5;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
	height: 15px;
	margin: 0 auto;
	max-width: 350px;
	overflow: hidden;
}
.progress-bar-success {
	background-color: #32bf32 !important;
}
.progress-bar-warning {
	background-color: #ffa81c !important;
}
.progress-bar-danger {
	background-color: #FF5A5E !important;
}
.progress-bar-skip {
	background-color: #46BFBD !important;
}
.progress-bar2 {
	background-color: #337ab7;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
	color: #fff;
	float: left;
	font-size: 11px;
	font-weight: 500;
	height: 100%;
	line-height: 15px;
	text-align: center;
	transition: width 0.6s ease 0s;
	width: 0;
}
.progress-striped .progress-bar, .progress-bar-striped {
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-size: 40px 40px;
}
.sr-only {
	border: 0 none;
	clip: rect(0px, 0px, 0px, 0px);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: relative;
	width: 1px;
}

/* ---- [ media queries ] ---- */
@media (max-width: 1600px) {
	.main-wrap .col.s4 {
		padding-right: 0;
	}
}
@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}
@media (max-width: 992px) {
	.main {
		padding-left: 0;
	}
	.nav-main {
		padding-left: 100px;
	}
	.single .nav-main {
		padding-left: 100px;
	}
	.main-wrap {
		padding-left: 40px;
	}
	.button-collapse {
		padding-left: 10px;
	}
	.single .main-wrap {
		width: 95%;
	}
	.filters .toggle-type {
		display: none;
	}
	.filters .col.s3 {
		width: 40%;
	}
    .page-title {
        padding-left: 50px;
    }
    nav.fixed {
        padding-right: 0;
    }
    a.button-collapse.top-nav {
        left: 0;
    }
}
@media (min-width: 992px) and (max-width: 1300px) {
	/* fix for pie charts going out of bounds */
	.main-wrap .row:first-child .col.s12 {
		width: 33.33% !important;
	}
	.filters .toggle-type {
		display: none;
	}
}

